* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffb700 10%, #2a2929 90%);
}

/* Container */
.container {
  width: 80%;
  background-color: #0f0f0f;
  padding: 30px 10px 30px 30px;
  border-radius: 20px;
  margin: 10px;
}

.main-content {
  display: flex;
  justify-content: space-between; /*Display the calendar and to-do list side by side.*/
}

.calendar-section {
  width: 60%;
}

/* Calendar Nav */
.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #b4b2b2;
}

.nav-btn:hover {
  color: #ffd000;
}

#current-month {
  font-size: 1.2rem;
  color: #b4b2b2;
}

/* Week-Header */
.week-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

/* Calendar-Content */
.calendar {
  margin-bottom: 20px;
  color: #b4b2b2;
}

.calendar-days-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar div,
.dates-container div {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.other-month {
  color: #403f3f;
}

.calendar .selected {
  background-color: #feb700;
  color: #0f0f0f;
}

/* Calendar-Container */
.dates-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dates-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #3c3c3c;
}

.dates-container div:hover {
  background-color: #cbcbcb;
  color: #0f0f0f;
}

.dates-container div:hover .todo-dot {
  background-color: #0f0f0f;
}

.dates-container div:hover .todo-dot.completed {
  background-color: #808080;
}

/* Todo List */
.todo-list {
  width: 30%;
  padding-top: 20px;
  border-radius: 8px;
  padding: 20px;
}

.todo-list-header {
  margin-bottom: 30px;
}

.todo-list .to-do-title {
  margin: 0 0 5px;
  color: #feb62c;
}

#date-display {
  margin: 0 0 20px;
  color: #feb62c;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 10px;
}

.todo-list li span {
  flex-grow: 1;
  margin-right: 10px;
  color: #feb62c;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #b4b2b2;
}

#new-todo-input {
  flex-grow: 1;
  min-width: 200px;
  max-width: 500px;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #202020;
  border-radius: 4px;
  background-color: #000000;
  color: #feb700;
}

/* Edit-Input */
.edit-input {
  flex-grow: 1;
  max-width: 180px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: #000000;
  border-radius: 4px;
  color: #b4b2b2;
}

/* todo checkbox */
.todo-list input[type="checkbox"] {
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #868686;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.todo-list input[type="checkbox"]:checked {
  border: 2px solid #777777;
}

.todo-list input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #777777;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add-Todo */
#new-todo-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #202020;
  border-radius: 4px;
  background-color: #000000;
  color: #feb700;
}

.add-todo-btn {
  font-size: 1rem;
  font-weight: bold;
  width: 50px;
  height: 35px;
  padding: 10px;
  color: #feb700;
  background-color: #222222;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.add-todo-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#todo-items li {
  padding: 10px 10px;
  font-size: 0.875rem;
}

#todo-items li:hover {
  background-color: #2c2b2b2a;
  border-radius: 5px;
  color: #feb700;
}

/* Todo-Button */
#todo-items button,
.edit-btn,
.delete-btn {
  background-color: black;
  border: none;
  color: #feb62c;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  padding: 8px;
}

.edit-btn:hover,
.delete-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.edit-btn {
  margin-right: 10px;
}

/* Todo-dot */
.todo-dot {
  position: absolute;
  top: 10px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #feb62c;
  border-radius: 50%;
  margin-bottom: -5px;
  z-index: 10;
  position: relative;
}

.todo-dot:hover {
  background-color: #0f0f0f;
}

.todo-dot.completed {
  background-color: #cbcbcb;
}

.calendar .selected .todo-dot {
  background-color: black;
}

/* Animation */
@keyframes slideRightAndDisappear {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

.slide-right-disappear {
  animation: slideRightAndDisappear 0.5s ease-out forwards;
}

/* DateSearch Container */
.date-search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 15px;
  width: 100%;
  max-width: 650px;
  gap: 10px;
}

.date-search-container select {
  background-color: #1b1b1b;
  color: #cbcbcb;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.go-button {
  background-color: #feb62c;
  border: none;
  border-radius: 10px;
  color: #2c2c2c;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.go-button:hover {
  background-color: #cbcbcb;
}

.today-button {
  background-color: #feb62c;
  border: none;
  border-radius: 10px;
  color: #2c2c2c;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}

.today-button:hover {
  background-color: #cbcbcb;
}

.date-search-container select:hover {
  background-color: #cbcbcb;
  color: #000000;
}

/* RWD */
@media screen and (max-width: 1193px) {
  #new-todo-input {
    flex-grow: 1;
    min-width: 200px;
  }

  .add-todo-btn,
  .delete-btn {
    padding: 30px;
  }

  .delete-btn {
    margin-left: 10px;
    margin-right: -10px;
  }

  .todo-list button {
    padding: 5px;
    flex-shrink: 0;
  }
  .add-todo-btn {
    margin-top: 15px;
    margin-left: 10px;
    width: 200px;
  }
}

@media screen and (max-width: 930px) {
  .dates-container div {
    height: 50px;
  }
  .todo-dot {
    margin-top: -5px;
  }
}

@media screen and (max-width: 870px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}
