/*Colors*/

:root {
  --soft-gray: #b4b2b2;
  --dark-gray: #0f0f0f;
  --primary-yellow: #feb700;
  --warm-gray: #403f3f;
  --medium-gray: #808080;
  --light-gray: #cbcbcb;
  --charcoal-gray: #2c2c2c;
  --dropdown-bg: #1b1b1b;
}
